* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/background__image.png");
  background-size: cover;
  background-repeat: inherit;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

html,
body {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  border: 3px solid rgb(247, 233, 207);
  margin: auto;
  width: 300px;
  border-radius: 10px;
  background-color: rgb(209, 216, 222);
  padding: 0.5rem;
  margin-top: 20px;
  box-shadow: 5px 4px 8px 3px gray;
  margin-bottom: 0.5rem;
}

.sketchboard {
  display: flex;
  border: 3px solid gray;
  width: 805px;
  height: auto;
  margin: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 4px gray;
  background-color: aliceblue;
  object-fit: contain;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  outline: none;
}

.clear-button,
.submit-btn {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
}

/* //the container */
.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 0 0 calc(100% / var(--cols));
  height: calc(100% / var(--cols));
  display: flex;
}

/*  */
/*  */
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.rainbow {
  background-color: var(--rainbow-color);
}
.box:hover {
  background-color: rgb(117, 13, 13);
}

.clear-button {
  margin-top: 22rem;
}

.submit-btn:hover {
  background-color: rgb(217, 235, 251);
  cursor: pointer;
  box-shadow: 2px 2px 10px 1px gray;
}

.clear-button:hover {
  background-color: rgb(217, 242, 251);
  cursor: pointer;
  box-shadow: 2px 2px 10px 2px rgb(255, 107, 107);
}

.select:hover {
  outline: 2px solid gray;
  box-shadow: 2px 2px 10px 1px gray;
}

.selections {
  border-radius: 5px 0px 0px 5px;
  background-color: rgb(189, 203, 214);
  width: 30%;
  height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 1rem;
  margin-bottom: 0px;
}

input {
  outline: none;
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 1rem;
  padding: 5px;
  border-radius: 5px;
}

input:hover {
  box-shadow: 2px 2px 10px 1px gray;
}

.container {
  width: 70%;
  height: auto;
  aspect-ratio: 1/1;
  border: 3px solid gray;
  margin: 10px;
  object-fit: contain;
}

footer {
  text-align: center;
  margin-top: 3rem;
  background-color: rgb(198, 206, 212);
  padding: 1rem;
}

@media (max-width: 800px) {
  .selections {
    display: none;
  }
  .sketchboard {
    width: 95%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  .container {
    width: 100%;
  }
  .header {
    width: 200px;
    height: auto;
    padding: 10px;
    font-size: 10px;
  }
}
